h1 {
    font-size: 30px;
    color: #FFFFFF
  }
  p {
    font-size: 18px;
    color: #FFFFFF
  }
  .header {
    position: relative;
    padding: 30px 0;
  }
  .container-bg {
  background-image: url('/static/images/in_article_cc6c1d1184.png');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(5px);
  }
  .container-content {
    text-align: center;
    position: relative;
    color: black;
  }
  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding-top: 10px;
  }
  
  .info {color: dodgerblue;}